.qq{
    background-image: url(./dalerimgggg/Mask\ Group\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 252px;
}
.qq1{
    background-image: url(./dalerimgggg/Mask\ Group\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 252px;
}
.qq1{
    background-image: url(./dalerimgggg/Mask\ Group\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 252px;
}

.ww{
    background-image: url(./dalerimgggg/Mask\ Group\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 471px;
}
@media(max-width:400px) {
    .ww{
        display: none;
    }
}